
name: Sync latest changes from ALICIA

on: push

jobs:
  copy-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Copy contents to destination repository # Pushes test file
      uses: dmnemec/copy_file_to_another_repo_action@main  # existing git workflow
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source_file: 'README.md'
        destination_repo: 'ellesonra/ServiceNow-Chatbot'
        #destination_folder: 
        user_email: 'pamela.sacdalan@gmail.com'
        user_name: 'pamsacdalan'
        commit_message: 'AUTO: Syncing latest changes from ALICIA'
  
